.info>p
{
font-size:0.7em;
    margin: 0;
    margin-left:3em;
    text-indent: -3em;
    line-height: 1;
}

p {
    margin: 0;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5;
    font-family: "宋体";
}

.drawout {
    margin: 0;
    text-indent: 1.5em;
}

.aligned {
    text-indent: 0;
}

@media amzn-kf8 
{
aside {display: none;}
}

.illu {
    width: 100%;
    height:150vw;
    max-height: 100vh;
    page-break-inside: avoid;
}
.illu img
{
    width: auto;
    height: auto;
}

.title0
{
    font-size: 1.5em;
    text-align: center!important;
    text-indent: 0;
    font-weight: bold;
}
.noteref
{
text-decoration:none;
}
.notesection
{
    border:1px solid;
}
aside
{ 
    margin-left: 1em;
    margin-right: 1em;
}
aside>a
{
    text-decoration: none;
}
.pagebreak{page-break-after: always;}